.header {
    background-color: #171A21;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #C7D5E0;
    margin: 0;
}

body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(4,0,52,1) 0%, rgba(1,0,10,1) 63%, rgba(1,0,13,1) 100%);
}

.top-border {
    background: rgb(42,71,94);
    background: radial-gradient(circle, rgba(42,71,94,1) 0%, rgba(0,0,0,1) 62%, rgba(23,26,33,1) 100%);
    padding: 3px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-border {
    background: rgb(42,71,94);
    background: radial-gradient(circle, rgba(42,71,94,1) 0%, rgba(0,0,0,1) 62%, rgba(23,26,33,1) 100%);
    padding: 3px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-bar {
    display: flex;
    align-items: center;
    height: 100%;
}


.tab {
    color: #C7D5E0;
    background-color: #1B2838;
    margin-right: 10px;
    padding: 5px 10px;
}


.tab.active {
    color: #C7D5E0;
    background-color: #66C0F4;
}


body, .tab {
    color: #C7D5E0;
}

.tab {
    padding: 10px 20px;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    border: none;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.tab a {
    display: block;
    height: 100%;
    width: 100%;
    color: inherit;
    text-decoration: none;
}

.tab:hover, .tab a:hover {
    background-color: #2A475E;
}

.tab.active, .tab.active a {
    background-color: #66C0F4;
    color: #C7D5E0;
}
/* Spinning Wheel Section */
#wheel {
    width: 500px;
    height: 500px;
    border: 2px solid #333;
    border-radius: 50%;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

#spin {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 20px auto;
    font-size: 18px;
    cursor: pointer;
    background-color: #1B2838;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #999;
}

#spin:hover {
    background-color: #2A475E;
}

#spin:active {
    background-color: #111924;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.openid-results{
    display: none;
}
#reshuffle {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 20px auto;
    font-size: 18px;
    cursor: pointer;
    background-color: #1B2838;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #999;
}
#reshuffle:hover {
    background-color: #2A475E;
}

#reshuffle:active {
    background-color: #111924;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

#goToGame {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 20px auto;
    font-size: 18px;
    cursor: pointer;
    background-color: #1B2838;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #999;
}
#goToGame:hover {
    background-color: #2A475E;
}

#goToGame:active {
    background-color: #111924;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}