<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{steampowered.css}">
    <meta charset="UTF-8">
    <title>SteamPowered Main Page</title>
</head>
<body>
<div class="top-border">
    <h1>SteamPowered</h1> <!-- TITLE TEXT -->
    <div class="tab-bar"> <!-- NAVIGATION BAR -->
        <div class="tab"><a th:href="@{profile}">PROFILE</a></div>
        <div class="tab"><a th:href="@{multiplayer}">MULTIPLAYER</a></div>
    </div>
</div>

<div class="content">

</div>

<div class="bottom-border"></div>

</body>
</html>