<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{steampowered.css}">
    <meta charset="UTF-8">
    <title>Steampowered</title>
</head>
<body>
<tr class="openid-results" th:each="entry : ${parameters}"></tr>
<div class = "loginbody">
    <h1>Welcome to Steampowered!</h1>
    <br><br>
    <div class="login">
        <h2>Login with Steam</h2>
        <a th:href="@{/redirect}"><img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_02.png" alt="Steam Login"></a>
    </div>
    <h3>*DISCLAIMER*</h3>
    <h4>This website does not store any sensitive information, only your Steam ID and game library.</h4>
</div>
<footer>Steampowered is a class project that is not affiliated with Valve or Steam.</footer>
</body>
</html>