<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{steampowered.css}">
    <meta charset="UTF-8">
    <title>SteamPowered Profile Page</title>
</head>
<body>
<div class="top-border">
    <h1>SteamPowered</h1> <!-- TITLE TEXT -->
    <div class="tab-bar"> <!-- NAVIGATION BAR -->
        <div class="tab"><a th:href="@{/}">WHEEL</a></div>
        <div class="tab"><a th:href="@{profile}">PROFILE</a></div>
        <div class="tab"><a th:href="@{multiplayer}">MULTIPLAYER</a></div>
    </div>
</div>
<div class="content">
<h2>Welcome to your profile page!</h2>
    <div class="profile">
        <h3>Profile Information</h3>
        <p>Avatar URL: <span th:text="${profileImage}"></span></p>
        <p>Steam Username: <span th:text="${steamId}"></span></p>
        <p>Username: <span th:text="${username}"></span></p>
        <p>Profile URL: <span th:text="${profileUrl}"></span></p>
    </div>
</div>

<div class="bottom-border"></div>

</body>
</html>